<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>



<main>
    <section>
        <a href="/signup/buyer">Sign Up as buyer</a>
    </section>

    <section>
        <a href="/signup/seller">Sign Up as seller</a>
    </section>

</main>