<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>



<main class="general-signup-wrapper">
    <div class="signup-wrapper-sub">

            <a href="/signup/buyer" class="signup-redirect">
            <span class="signup-icon"><i class="fas fa-user-plus"></i></span>
            <div>Signup as a buyer</div>
            </a>

            <a href="/signup/seller" class="signup-redirect">
            <span class="signup-icon"><i class="fas fa-user-plus"></i></span>
            <span>Signup as seller</span>
            </a>
    </div>
</main>

<%- include('../includes/end.ejs') %>