<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
The password reset's link has either expired or not valid 
</main>


<%- include('../includes/end.ejs') %>