<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
Password has been successfully updated. Try to log in with the new password
</main>


<%- include('../includes/end.ejs') %>