<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    A token has been send to your account email to effect
    reset of password
</main>


<%- include('../includes/end.ejs') %>