.advert-text-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    color:#483D8B;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/public/localImages/happy-shopping.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, .50);
}
.advert-wrapper{
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.primary-advert{
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 25px;
    z-index: 1;
    text-shadow: 1px 1px 4px #483D8B;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.secondary-advert{
    color: rgb(235, 231, 231);
    z-index: 1;
    width: 90%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;

    font-family: 'Noto Sans JP', sans-serif;
}

.homepage-search-input, .form-flex{
   margin-top: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.homepage-search-input input{
    height: 50px;
    width: 90%;
    border: 2px solid #483D8B;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 12px 20px;
   
}

.homepage-search-input ::placeholder{
    font-family: Arial, Helvetica, sans-serif;

}

.homepage-search{
    height: 78px;
    width: 50px;
    background-color: #483D8B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px solid #483D8B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.button-style{
    color: white; 
    background:none; 
    border:none;
}

/*

PRODUCT LIST SECTION

*/

.item-list{
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 12px;
    width: 100%;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-item{
    color: #483D8B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 7px;
}

.category-text{
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 12px;
}

.item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.card-wrapper{
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 18px;
    justify-content: center;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.goods-image{
    height: 150px;
    width: 100%;
}

.goods-image img{
    height: 100%;
    width: 100%;
}

.name-wrapper{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    margin-bottom: 10px;
    text-overflow: clip;

}

.condition-price, .review-location{
    margin-top: 12px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.product-price{
    color: green;
    margin-right: 7px; 
}

.product-condition{
    margin-left: 7px;
}

.checked-review{
    color: orange;
}

.review{
    margin-left: 7px;
}

.location{
    margin-right: 7px;
}

.location-icon{
    color: #483D8B;
}

.pagination-wrapper{
    font-size: 14px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    margin-top: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.pagination-wrapper a{
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    background-color: #483D8B;
    color: white;
    
}


/*

Trending section styling

*/


.trending-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.trend-wrapper{
    border-radius: 10px;
    margin-bottom: 12px;
    width: 80%;
    display: flex;
    height: 100px;
    color: black;
    background-color: white;

}

.trend-image{
    width: 40%;
    height: 100%;
}

.trend-image img{
    height: 100%;
    width: 100%;
}

.trend-info{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.trend-name{
    margin-top: 5px;
    padding: 4px;
    height: 70%;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
}

.trend-review-price{
    display: flex;
    justify-content: space-between;
}

.trend-price{
    color: green;
    margin-right: 10px;
}

.trend-review{
    margin-left: 10px;
}

.trending-header{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
    color: rgb(15, 13, 29);
}

.trend-card-wrapper{
    background-color: tomato;
}





/*

FOR 700 AND ABOVE SCREEN

*/

@media screen and (min-width: 700px) {
    .homepage-search-input input[type='text']{
        width: 500px;
    }

    .primary-advert{
        font-size: 22px;
    }

    .secondary-advert{
        font-size: 15px;
    }

    .filter-item{
        height: 100px;
        width: 8%;
    }

    .category-text{
        font-size: 22px;
        margin-bottom: 0px;
    }

    .item-wrapper{
        flex-direction: row;
        padding: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
    }
    .card-wrapper{
        margin-right: 12px;
        border-radius: 12px;
        overflow: hidden;
        width: 25%;

    }

    .trending-section{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    
    .trend-wrapper{
        width: 30%;
        height: 100px;
        margin-right: 12px;
    
    }
    .trending-header{
        margin-left: 66px;
    }
    

}