<div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= productId %>">
    <div class="btn" onclick="wishlist(this)" wishlist='<%= wishlist %>'>
        <% if(isAuthenticated && !isSeller) {%>
            <% if(wishlist) {%>
                <div class="wishlist-button">Remove Wishlist</div>
                <% } else {%>
                    <div class="wishlist-button">Add wishlist</div>
                    <% } %>
        <%}else {%>
            <span class="wishlist-text">Login as buyer to add wishlist</span>
        <% } %>
                
    </div>
    

</div>