
<div class='footer-wrapper'>
<section class='website-wrapper'>
    <div class='name-footer'>Bend & Select</div>
    <div class='social-media'>
    <a href='https://github.com/AbrahamMayowa'><i class="fab fa-github media-icon"></i></a>
    <a href='https://twitter.com/mayowa_life'><i class="fab fa-twitter media-icon"></i></a>
    </div>
</section>
<section class='copywrite'>
&copy; 2020 Bend & Select. All Right Reserved
    
</section>

</div>
<script src="/public/publicJavascript/userActionDom.js"></script>
<script src="/public/publicJavascript/displaySearchForm.js"></script>
<script src="/public/publicJavascript/addReview.js"></script>
</body>

</html>