<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link href="/public/css/includes/nav.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/generalPage/homepage.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/generalPage/product-details.css" type="text/css" rel="stylesheet" />
    <link href="/public/css/includes/end.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/generalPage/search.css" type="text/css" rel="stylesheet" >
    <link href="/public/css/includes/no-item.css" type="text/css" rel="stylesheet" >
    <link href="/public/css/auth/general-signup-page.css" type="text/css" rel="stylesheet" >
    <link href="/public/css/auth/signup.css" type="text/css" rel="stylesheet" >
    <link href="/public//css/auth/login.css" type="text/css" rel="stylesheet" >
    <link href="/public/css/admin/admin-home.css" type="text/css" rel="stylesheet">
    <link href="/public/css/admin/add-edit-form.css" type="text/css" rel="stylesheet">
    <link href="/public/css/includes/error.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6a0bcc528d.js" crossorigin="anonymous"></script>
    
</head>
