<body>

    <nav class="main-nav">
        <section class="nav-wrapper">
        <a href="/1">
            <div class="logo">
                <i class="fas fa-shopping-cart"></i>
                B&S
            </div>
        </a>


        <div class="admin-search">

        <ul>
            <li>
                <a href="/admin/homepage">Admin</a>
            </li>

            <li class="nav-form">
                <form method="GET" action="/search/1">
                    <input type="text" name="search" id="search" placeholder="search a product">
                </form>
                
            </li>
            <li><i class="fas fa-search fa-lg search-icon"></i></li>

        </ul>

        </div>

        <div class="nav-auth">
        <ul class="sign-up-in">

            <% if (!isAuthenticated) { %>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
    
            <% } else { %>
                <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input class="logout" type="submit" value="Logout" />
                </form>
                </li>
            <% } %>
        </ul>
        </div>
        </section>
        <div class="mobile-search-form">
            <form method="GET" action="/search/1" class="mobile-form">
                <input type="text" name="search" id="search" placeholder="Search a product">
                <div class='close-icon'><i class="far fa-window-close"></i></div>
            </form>
        </div>

    </nav>