<div class="review">
        <span class="fa fa-star checked" data-value='1'></span>
        <span class="fa fa-star checked" data-value='2'></span>
        <span class="fa fa-star checked" data-value='3'></span>
        <span class="fa fa-star checked" data-value='4'></span>
        <span class="fa fa-star" data-value='5'></span>
        <button type="submit">submit</button>
</div>