<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    <div class="error">
        <div><i class="fas fa-exclamation-triangle"></i></div>
        <div>Not Authorized</div>
    </div>
</main>


<%- include('../includes/end.ejs') %>