<%- include('../includes/head.ejs', {pageTitle: pageTitle, specificCssLink: '/public/includes/nav.css'}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    <div class="error">
        <div><i class="fas fa-exclamation-triangle"></i></div>
        <div>Error 500</div>
    </div>        

</main>


<%- include('../includes/end.ejs') %>